{
  "parser"  : "babel-eslint",
  "plugins": ["babel"],
  "extends": ["standard", "plugin:prettier/recommended"],
  "rules": {
    "camelcase": 1,
    "prettier/prettier": [
      "error", {
        "singleQuote": true,
        "parser": "flow"
      }
    ]
  }
}
